<html>
      <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">                                              
      </head>
      <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
        <a class="navbar-brand" href="/">
      <img src="/static/OIP.jpeg" alt="Bootstrap" width="150" height="30">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"  data-bs-theme="dark">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
        </li>
    </div>
  </div>
</nav>
        <center>
        <div class="container d-flex justify-content-center">
        <form method="post">
          <br>
          <div class="input-group input-group-sm mb-3">
            <div class = "col-xs-4">
            <input type="text" name="name" id="name" placeholder="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
          </div>
          <br>
          <div class="input-group input-group-sm mb-3">
            <div class = "col-xs-4">
            <input type="password" name="password" id="password" placeholder="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
          </div> 
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
              <div class = "col-xs-4">
            <button class="btn btn-primary" input type = "submit" value="Register" type="button">Register</button>
            </div>
              </div>
            <br>
        </form>
        </div>
        </center>
      </body>
    </html>